{{/*
  GetIcon

  @author @regisphilibert

  @context String (.)

  @access private

  @return Resource

  @example - Go Template
  {{ with partialCached "tnd-icons/private/GetIcon" . }}
    <div style="fill:black;width:1rem;">
      {{ .Content | safeHTML }}
    </div>
  {{ end }}
*/}}

{{ $context := . }}
{{ $dir := "tnd-icons/svgs/" }}
{{ $asset := false }}
{{/* If we find / in the context, this means user is mentioning the directory */}}
{{ if in $context "/" }}
  {{/* We can use .Get */}}
  {{ with resources.Get (print $dir $context ".svg") }}
    {{ $asset = . }}
  {{ end }}
{{ else }}
  {{/* If not, user is only mentioning the filename.
    We need to browse icons directorys to find icon(s) */}}
  {{ with resources.Match (print $dir "**/" . ".svg") }}
    {{/* We use the first one found */}}
    {{ with index . 0 }}
      {{ $asset = . }}
    {{ end }}
    {{/* If we find more than one, we issue a warning so users is aware of his ambiguous parameter */}}
    {{ if gt (len .) 1 }}
      {{ warnf "%s icon identifier is ambiguous, we resolved using %s. \nUse `directory/icon` to pinpoint to the right icon file" $context $asset.Name }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $asset }}